In [4]:
# Import necessary libraries
import pandas as pd
import numpy as np

In [5]:
# Load the datasets
train = pd.read_csv('../../input/TMDB/train.csv')
test = pd.read_csv('../../input/TMDB/test.csv')
sample = pd.read_csv('../../input/TMDB/sample_submission.csv')

In [31]:
# Display the shapes of the datasets
train.shape, test.shape, sample.shape

((3000, 23), (4398, 22), (4398, 2))

In [30]:
# Display the first few rows of each dataset
display(train.head())
display(test.head())

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew
0,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,...,"[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",7/14/07,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de..."
1,3002,NaN,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/19/58,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de..."
2,3003,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/23/97,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de..."
3,3004,NaN,6800000,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",http://www.sonyclassics.com/incendies/,tt1255953,fr,Incendies,A mother's last wishes send twins Jeanne and S...,8.596012,...,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",9/4/10,130.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,The search began at the opening of their mothe...,Incendies,"[{'id': 378, 'name': 'prison'}, {'id': 539, 'n...","[{'cast_id': 6, 'character': 'Nawal', 'credit_...","[{'credit_id': '56478092c3a36826140043af', 'de..."
4,3005,NaN,2000000,"[{'id': 36, 'name': 'History'}, {'id': 99, 'na...",NaN,tt0418753,en,Inside Deep Throat,"In 1972, a seemingly typical shoestring budget...",3.217680,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/11/05,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was filmed in 6 days for 25 thousand dollar...,Inside Deep Throat,"[{'id': 279, 'name': 'usa'}, {'id': 1228, 'nam...","[{'cast_id': 1, 'character': 'Narrator (voice)...","[{'credit_id': '52fe44ce9251416c75041967', 'de..."

In [41]:
train_lang = pd.get_dummies(train["original_language"], prefix="lang")
test_lang  = pd.get_dummies(test["original_language"], prefix="lang")

# Spalten angleichen
train_lang, test_lang = train_lang.align(test_lang, join="left", axis=1, fill_value=0)

In [42]:
import ast

def count_spoken_languages(x):
    if pd.isna(x):
        return 0
    try:
        return len(ast.literal_eval(x))
    except:
        return 0

train["spoken_lang_count"] = train["spoken_languages"].apply(count_spoken_languages)
test["spoken_lang_count"]  = test["spoken_languages"].apply(count_spoken_languages)

In [43]:
def count_cast(x):
    if pd.isna(x):
        return 0
    try:
        return len(ast.literal_eval(x))
    except:
        return 0

train["cast_count"] = train["cast"].apply(count_cast)
test["cast_count"]  = test["cast"].apply(count_cast)

In [51]:
y = np.log1p(train["revenue"]) # What The Model should learn to predict

base_features = [
    "budget",
    "popularity",
    "runtime",
    "spoken_lang_count",
    "cast_count"
]

X_base = train[base_features].fillna(0)
X_test_base = test[base_features].fillna(0)

X_base.isna().sum(), X_test_base.isna().sum() # Check for missing values. isna() = is not available(NaN), sum() = count them

(budget               0
 popularity           0
 runtime              0
 spoken_lang_count    0
 cast_count           0
 dtype: int64,
 budget               0
 popularity           0
 runtime              0
 spoken_lang_count    0
 cast_count           0
 dtype: int64)

In [52]:
X = pd.concat([X_base, train_lang], axis=1)
X_test = pd.concat([X_test_base, test_lang], axis=1)

In [54]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor

X_train, X_val, y_train, y_val = train_test_split(
    X, y, test_size=0.2, random_state=42
)

model = RandomForestRegressor(
    n_estimators=600,
    max_depth=20,
    min_samples_leaf=5,
    random_state=42,
    n_jobs=-1
)

model.fit(X_train, y_train)

val_pred = model.predict(X_val)
rmse = mean_squared_error(y_val, val_pred) ** 0.5
rmse

2.137529795980906

In [58]:
train_lang = pd.get_dummies(train["original_language"], prefix="lang")
test_lang  = pd.get_dummies(test["original_language"], prefix="lang")

# Spalten angleichen
train_lang, test_lang = train_lang.align(test_lang, join="left", axis=1, fill_value=0)

test_lang[:10]

,lang_ar,lang_bn,lang_cn,lang_cs,lang_da,lang_de,lang_el,lang_en,lang_es,lang_fa,...,lang_ro,lang_ru,lang_sr,lang_sv,lang_ta,lang_te,lang_tr,lang_ur,lang_vi,lang_zh
0,0,False,False,False,False,False,False,False,False,0,...,False,False,False,False,False,False,False,False,0,False
1,0,False,False,False,False,False,False,True,False,0,...,False,False,False,False,False,False,False,False,0,False
2,0,False,False,False,False,False,False,True,False,0,...,False,False,False,False,False,False,False,False,0,False
3,0,False,False,False,False,False,False,False,False,0,...,False,False,False,False,False,False,False,False,0,False
4,0,False,False,False,False,False,False,True,False,0,...,False,False,False,False,False,False,False,False,0,False
5,0,False,False,False,False,False,False,True,False,0,...,False,False,False,False,False,False,False,False,0,False
6,0,False,False,False,False,True,False,False,False,0,...,False,False,False,False,False,False,False,False,0,False
7,0,False,False,False,False,False,False,True,False,0,...,False,False,False,False,False,False,False,False,0,False
8,0,False,False,False,False,False,False,True,False,0,...,False,False,False,False,False,False,False,False,0,False
9,0,False,False,False,False,False,False,True,False,0,...,False,False,False,False,False,False,False,False,0,False

In [ ]:
output = pd.DataFrame({'TMDB_Id': test.id, 'Revenue': val_pred})
output.to_csv('../../input/TMDB/sample_submission.csv', index=False)
print("Your submission was successfully saved!")

NameError: name 'predictions' is not defined